main {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

button {
    background-color:  #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin: 10px 0;
    width: 100%;
}


.functional-button{
    width:90%;
}

button:hover {
    background-color: #45a049;
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

button.selected {
    background-color: #5cb85c;
    color: white;
    transform: scale(1.05);
    border: 1px solid #218838;
}

button.selected:hover {
    background-color: #4cae4c;
}

.abc-button{
    margin: 4px;
}
.yn-button{
    margin: 4px;
}

.options{
display: flex;
flex-direction: row;
}

.options-wrapped{
flex-wrap:wrap;
}

#media-container{
background-color:green;
height: 65vh;
margin:auto;
margin-bottom: 10px;
}
.quiz-container{
width:75%;
margin:auto;
}

.quiz-info{
    width: 10%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 5px;
}
.app-container{
    display:flex;
    flex-direction: row;
}

.bar-container {
    position: relative;
    width: 100%;
    height: 20px;
    background-color: #ddd;
}
.bar{
    width: 50%;
    height: 20px;
    background-color: #04AA6D;
    position: absolute;
    top: 0;
    left: 0;
  }
.question-num{
    position: relative;
    margin:auto;
}