main {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

button {
    background-color:  #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin: 10px 0;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

button.selected {
    background-color: #5cb85c;
    color: white;
    transform: scale(1.05);
    border: 1px solid #218838;
}

button.selected:hover {
    background-color: #4cae4c;
}