<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/quiz.css}">

</head>
<body>
<header th:replace="fragments/navbar :: navbar"></header>
<main>
    <div class="quiz-container" id="quiz">
        <div id="points"></div>
        <div id="question-container">
            <div class="question" id="question"></div>
            <div class="options" id="options"></div>
        </div>
    </div>
    <div class="quiz-info">
        <div id="basic-question-number"></div>
        <div id="specialization-question-number"></div>
        <div id="timer-container">
            <div id="info-timer"></div>
            <div id="time"></div>
        </div>
    </div>
    <button class="next-btn" id="next" onclick="nextQuestion()">Next</button>
    <script type="text/javascript">
        const category = "[[${category}]]"; "";
        console.log("Category:", category);
    </script>
    <script th:src="@{/js/quiz.js}" defer></script>
</main>
</body>
</html>